<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kathak Dance</title>
<style>
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 2cm;
    padding: 20px;
    background-color: orchid;
  }
  .container {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h1, h2, h3 {
    color: black;
  }
  p {
    color: #666;
    line-height: 1.7;
  }
  h2, h3 {
    margin-top: 20px;
  }
</style>
</head>

<body>
	<div class="container">
    <h1>Bihu Dance - Traditional Folk Dance of Assam</h1>
    
    <p><strong>Bihu</strong> is a traditional folk dance from the Indian state of Assam, and it is an integral part of Assamese culture. Bihu dance is performed during the Bihu festival, which is one of the most important cultural celebrations in Assam.</p>

    <div class="characteristics">
        <h2>Characteristics of Bihu Dance:</h2>
        <ul>
            <li><strong>Energetic and Lively Movements:</strong> Bihu dance is known for its energetic and lively movements. Dancers perform in groups and often form a circle or a line. The dance is characterized by rapid footwork, hand gestures, and swirling movements, reflecting the enthusiasm and exuberance of the festival.</li>
            <li><strong>Traditional Music and Instruments:</strong> Traditional Bihu songs and music, which are typically played using instruments like the dhol (drum), pepa (buffalo horn), and gogona (mouth organ), accompany the dance. The lyrics of Bihu songs often revolve around themes of love, nature, and daily life.</li>
            <li><strong>Traditional Attire:</strong> The dance features traditional Assamese attire, with women wearing mekhela chadors or sarees, and men wearing dhotis and kurta.</li>
        </ul>
    </div>

    <p><strong>History:</strong></p>
    <ul>
        <li><strong>Origin:</strong> Bihu dance has its origins in ancient agricultural traditions. It is closely associated with the Assamese New Year festival called "Bohag Bihu" or "Rongali Bihu," which marks the arrival of the Assamese spring.</li>
        <li><strong>Expression of Joy:</strong> The dance is a way for the Assamese people to celebrate the harvesting season and express their joy and gratitude for a bountiful harvest. It is a time of communal celebrations and cultural festivities.</li>
    </ul>
</div>
</body>
</html>