<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Types of Dances in India</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
    </style>
</head>
<body>

<h1>Types of Dances in India</h1>
<img src="/spring-boot-registration-login-main/src/main/resources/templates/dance.jpg" alt="Indian Dances">

<ul>
    <h3><a th:href="@{/Bharatanatyam}">Bharatanatyam</a></h3><li>Originating from Tamil Nadu, this classical dance form is known for its intricate footwork and expressive movements.</li>
     <h3><a th:href="@{/Kathak}">Kathak</a></h3><li> A North Indian classical dance form characterized by fast footwork and storytelling through gestures.</li>
    <h3><a th:href="@{/Kuchipudi}">Kuchipudi</a></h3><li> Hailing from Andhra Pradesh, Kuchipudi combines dance, music, and acting in its performances.</li>
    <h3><a th:href="@{/Odissi}">Odissi</a></h3><li> A classical dance from the state of Odisha, known for its fluid movements and depiction of ancient temple sculptures.</li>
    <h3><a th:href="@{/Manipuri}">Manipuri</a></h3><li>Manipuri:</strong> Originating in Manipur, this dance form is characterized by graceful and fluid movements, often depicting themes from Lord Krishna's life.</li>
    <h3><a th:href="@{/Kathakali}">Kathakali</a></h3><li>A traditional dance-drama form from Kerala, known for its elaborate makeup and costumes.</li>
    <h3><a th:href="@{/Mohiniyattam}">Mohiniyattam</a></h3><li> Another classical dance form from Kerala, emphasizing graceful and feminine movements.</li>
    <h3><a th:href="@{/Sattriya}">Sattriya</a></h3><li> Developed in the monasteries of Assam, this dance form is a part of the Sattras or monastic tradition.</li>
    <h3><a th:href="@{/Lavani}">Lavani</a></h3><li> A traditional dance form from Maharashtra, known for its high energy and vibrant performances.</li>
    <h3><a th:href="@{/Bihu}">Bihu</a></h3><li> A folk dance from Assam performed during the Bihu festival, celebrating the Assamese New Year.</li>
    <h3><a th:href="@{/Giddha}">Giddha</a></h3><li> A lively folk dance from Punjab performed by women, usually during festive occasions.</li>
    
    <h3><a th:href="@{/Garba}">Garba</a></h3><li> A popular folk dance from Gujarat, performed during the Navratri festival.</li>
    
</ul>

</body>
</html>
